/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.active-menu {
  font-weight: bold;
  border-bottom: 4px solid #0c56d0;
  border-top: 4px solid #0c56d0;
  border-left: 4px solid #0c56d0;
  border-right: 4px solid #0c56d0;
  border-radius: 10px;
  background-color: #0c56d0;
}